<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983432048197-nd6efv65sape2meghoggl6v2h9lh2tot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983432048197-nd6efv65sape2meghoggl6v2h9lh2tot</string>
	<key>API_KEY</key>
	<string>AIzaSyDcoxcap_DfdxanMGc_D3RMxr1HJqVSR-U</string>
	<key>GCM_SENDER_ID</key>
	<string>983432048197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fogMap</string>
	<key>PROJECT_ID</key>
	<string>fog-map-c5687</string>
	<key>STORAGE_BUCKET</key>
	<string>fog-map-c5687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983432048197:ios:c454a6cac90e0ef7cd3d2c</string>
	<key>DATABASE_URL</key>
	<string>https://fog-map-c5687-default-rtdb.firebaseio.com</string>
</dict>
</plist>